
<% include ./partials/header %>

  <h2>Input Data Mahasiswa</h2>
  <form action="/input" method="post">
    <table>
      <tr>
        <td>nim</td>
        <td>:</td>
        <td><input type="text" name="nim"></td>
      </tr>
      <tr>
        <td>nama</td>
        <td>:</td>
        <td><input type="text" name="nama"></td>
      </tr>
      <tr>
        <td>alamat</td>
        <td>:</td>
        <td><input type="text" name="alamat"></td>
      </tr>
      <tr>
        <td>no telfon</td>
        <td>:</td>
        <td><input type="text" name="telfon"></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><input type="submit" value="input"></td>
      </tr>
    </table>
    <a href="/">back</a>
  </form>


<% include ./partials/footer %>
